
{% extends 'base.html.twig' %}

{% block title %}Hello City!{% endblock %}

{% block body %}
    <img src="/image/Paris.jpeg" alt="Paris" class="rounded shadow-md mt-12">
    <h1 class="mt-5 text-5xl font-semibold text-indigo-600">Hello from Paris!</h1>
    <p class="text-lg text-gray-800">Il est exactement {{ 'now'|date('H:i') }}.</p>

{% endblock %}